.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Container{
  background: black;
  width: 400px;
  height: 700px;
}

#total{
  height: 25%;
}

#reSults{
  /* border-bottom: 2px solid pink; */
  position: relative;
  top: 18px;
  height: 75%;
  color: white;
}

.numBers{
  height: 75%;
  display: flex;
  flex-wrap: wrap;
}

.numBers button{
  border: 1px black solid;
  background-color: rgb(236, 236, 236);
  color: black;
  height: 100.5px;
  width: 25%;
  font-size: xx-large;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.numBers button:hover{
  transition: 1ms;
  background-color:lightsteelblue;
  color: blueviolet;
}

#Orange{
  background-color: #ff7518;
  color: white;
}

#Orange:hover{
  transition: 1ms;
  background-color: chocolate;
  color: blue;
}

#zeRo{
  width: 200px;
}